<div class="container">
  <div class="logo-text">
    <img src="/images/styles/logo.png" class="logo-png" />
    <h2 class="title">Hi {{user.username}} !</h2>
  </div>
<<<<<<< HEAD
  {{#if user.user_img}}
    <img id="profileimg" src="{{user.user_img}}" alt="Profile Image" />
  {{else}}
    <img id="profileimg" src="/images/profile/default.jpg" alt="Not image avariable" />
  {{/if}}

  <div class="profile-info">
    <img src="/images/quizzes/js.png" />
    <img src="/images/quizzes/css.png" />
    <img src="/images/quizzes/html.png" />
    <h4 class="title">Total points: {{user.points}}</h4>
=======

  <div class="card-container-admin">
    <div class="card-select-admin">
      <img width="45" height="45" src="/images/admin/new.png"/>
      <a style="color: #1f9b33;" href="/quizzes/create">New Quiz</a>
    </div>
    <div class="card-select-admin">
      <img width="45" height="45" src="/images/admin/list.png"/>
      <a style="color: #1f9b33;" href="/quizzes">List Quizzes</a>
    </div>
    <div class="card-select-admin">
      <img width="45" height="45" src="/images/admin/new.png"/>
      <a style="color: #ff5d5c;" href="/questions/create">New Question</a>
    </div>
    <div class="card-select-admin">
      <img width="45" height="45" src="/images/admin/list.png"/>
      <a style="color: #ff5d5c;" href="/questions">List Questions</a>
    </div>
>>>>>>> CSSAdmin
  </div>

</div>

<footer class="footer">
  <ul>
    <!-- <li><button onclick="history.back()"><img width = "45" height = "45" src="/navbar/back.png"></button></li> -->
    <li>
      <form action="/auth/logout" method="POST"><button type="submit"><img
            width="45"
            height="45"
            src="/navbar/logout.png"
          /></button></form>
    </li>
  </ul>
</footer>