<div class="container">
  <div class="logo-text">
    <img src="/images/styles/logo.png" class="logo-png"/>
    <h1 class="title">Hi {{user.username}} !</h1>
  </div>
  <div class="profile-info">
    <h4 class="title">total points -> {{user.points}}</h4>
    <img src="/images/quizzes/js.png" />
    <img src="/images/quizzes/css.png" />
    <img src="/images/quizzes/html.png" />
  </div>
</div>

<footer class="footer">
  <ul>
    <li><a>Ranking</a></li>
    <li><a href="/game/select">PLAY!</a></li>
    <li>
      <form action="/auth/logout" method="POST"><button type="submit">Log out</button></form>
    </li>
  </ul>
</footer>