<div class="container">
  <img src="/images/styles/logo.png" class="logo-png"/>
  <h4 class="title">Hi {{user.username}} !</h4>
</div>

<footer class="footer">
  <!-- <button onclick="location.href='/game/select'" type="button">PLAY!</button> -->
  <a class="navbar" href='/game/select'>PLAY!</a>
  <a class="navbar" href="/">Home</a>
</footer>