<h1>PROFILE</h1>
<h4>Welcome {{ user.username }}</h4>

  <button
    onclick="location.href='/game/select'"
    type="button"
  >PLAY!</button>

<p>
  <a class="homelink noformcontainer" href="/">&larr; Back Home</a>
</p>

