<div class="container">
<div class="logo-text">
  <img src="/images/styles/logo.png" class="logo-png" />
  <h2>Guess What</h2>
  <h1 class="title">Create a new account!</h1>
</div>

<div id="form">
  <form action="/auth/signup" method="POST">

    <label>Username</label>
    <input
      type="text"
      name="username"
      placeholder="JohnPuma"
      required
      minlength="2"
      maxlength="20"
    />

    <label>Email</label>
    <input
      type="email"
      name="email"
      placeholder="john@puma.com"
      required
      minlength="4"
      maxlength="40"
    />

    <label>Password</label>
    <input
      type="password"
      name="password"
      placeholder="********"
      required
      minlength="6"
      maxlength="20"
    />

    {{#if error}}
      <p style="color: red;">{{error}}</p>
    {{/if}}

    <button class= "login" type="submit">Create</button>

  </form>
</div>

<p>
<a class="homelink" href="/">&larr; Back Home</a>
</p>
</div>