<div class="container" id="error404">

  <h1>Error 404:</h1>
  <br />
  <h2> Page {{path}} not found. </h2>
  <br />
  <h2>
    Please check that the address is correct or access to the link from the home
    page.</h2>
  <br />
  <img src="/images/404.jpg" alt="Not image avariable" />

  <p>
    <a class="homelink" href="/">&larr; Back Home</a>
  </p>

</div>