<div class="container">
<h1 class="title">Home</h1> 

  <p>
    <a href="/quizzes/create">New Quiz</a>
    <a href="/quizzes">List Quizzes</a>
    <a href="/questions/create">New Question</a>
    <a href="/questions">List Questions</a>
  </p>
  <p>
    <a class="signup-login" href="/auth/signup">Sign Up</a>
    <a class="signup-login" href="/auth/login">Login</a>
  </p>
  <p>
    <form action="/auth/logout" method="POST"><button class= "login" type="submit">Log out</button></form>
  </p>
</div>