<div class="container">
  <h1 class="title">Home</h1>

  <p>
    <a href="/quizzes/create">New Quiz</a>
    <br />
    <a href="/quizzes">List Quizzes</a>
    <br />
    <a href="/questions/create">New Question</a>
    <br />
    <a href="/questions">List Questions</a>
    <br />
    <a href="/game/select">Select Game</a>
    <br />
  </p>
  <p>
    <a class="signup-login" href="/auth/signup">Sign Up</a>
    <br />
    <a class="signup-login" href="/auth/login">Login</a>
  </p>
  <p>
    <form action="/auth/logout" method="POST"><button
        class="login"
        type="submit"
      >Log out</button></form>
  </p>
</div>