<div class="container">
  <div class="logo-text">
    <img src="/images/styles/logo.png" class="logo-png" />
    <h1 class="title">Guess What</h1>
  </div>
  
  <p>
    <h3>The Quiz that helps you to improve your code skills.</h3>
    <h3>Learn while you play and meet more people who love code.</h3>
  </p>
  
  <p>
    <button
      class="login"
      onclick="location.href='/auth/signup'"
      type="button"
    >Sign Up</button>

    <button
      class="login"
      onclick="location.href='/auth/login'"
      type="button"
    >Login</button>
<<<<<<< HEAD
=======
  </p>
>>>>>>> CSS7

</div>