<h1>Home page</h1>

<nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/questions/create">New Question</a></li>
        <li><a href="/questions">List Questions</a></li>
      </ul>
</nav>