body {
  margin: 0;
  width: 375px;
  height: 812px;
  background: radial-gradient(circle, rgba(34,193,195,0.6210526315789473) 0%, rgba(253,187,45,0.4421052631578948) 100%);
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.logo-png {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 15% 0 0 34%;
}

.mobile {
  position: relative;
  display: flex;
  margin: auto;
  height: auto;
  justify-content: center;
  flex-wrap: wrap;
}

h3 {
  margin-top: 10px;
  color: #6f7180;
  text-align: center;
}

.title {
  font-family: 'Krona One', sans-serif;
  color: #212121;
  text-align: center;
}

.homelink {
  font-family: 'Krona One', sans-serif;
  color: #6D37FF;
  text-align: center;
}

h6 {
  margin-top: 10px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #6D37FF;
  font-weight: bold;
  
}

form {
  margin: 10px 0 10px 10%;
}

label {
  display: flex;
  margin: 10px 0;
}

input {
  width: 80%;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 15px;
  border-bottom: 1px solid #ffff04;
}

.login {
  width: 89%;
  color: white;
  border: none;
  margin: 20px 0 0 0;
  padding: 8px;
  background: -webkit-linear-gradient(left top, rgb(102, 102, 255), #6D37FF);
  box-shadow: 2px 2px #fffed5;
}

