<div class="container">
  <h1 class="title">Ranking</h1>

  <p>
    <h3>Click on the categories to see the results</h3>
  </p>

  <!-- <div class="action-buttons">

    <button
      onclick="location.href='/ranking/JAVASCRIPT'"
      type="button"
    >JAVASCRIPT</button>

    <button onclick="location.href='/ranking/CSS'" type="button">CSS</button>

    <button onclick="location.href='/ranking/HTML'" type="button">HTML</button>

  </div> -->

  <div class="ranking-select">
      <a href="/ranking/JAVASCRIPT">
         <img alt="javascrip" src="/images/quizzes/js.png">
      </a>
      <a href="/ranking/CSS">
         <img alt="javascrip" src="/images/quizzes/css.png">
      </a>
      <a href="/ranking/HTML">
         <img alt="javascrip" src="/images/quizzes/html.png">
      </a>
  </div>

  <footer class="footer">
    <ul>
      <li><button onclick="history.back()"><img
            width="45"
            height="45"
            src="/navbar/back.png"
          /></button></li>
      <li>
        <form action="/auth/logout" method="POST"><button type="submit"><img
              width="45"
              height="45"
              src="/navbar/logout.png"
            /></button></form>
      </li>
    </ul>
  </footer>

</div>