<h1>New Questions</h1>

<form method="POST" action="/questions/create">

  <label>Question</label>
  <input type="text" name="question" />

  <label>Correct Answer</label>
  <input type="text" name="correct Answer" />

  <label>Incorrect Answer</label>
  <input type="text" name="incorrect Answer" />

  <label>Category</label>
  <input type="text" name="category" />

  <label>Difficulty</label>
  <input type="text" name="difficulty" />

  <label>Image</label>
  <input type="text" name="question image" />

  <label><input type="checkbox" name="isVisible" value="true" />Visible</label>
  
  <button type="submit">Create new Question</button>

</form>

<a class="homelink" href="/">Back Home Page</a>