<h1>New Questions</h1>

<form method="POST" action="/questions/create">

  <label>Question</label>
  <input
    type="text"
    name="question"
    placeholder="Write a Question"
    required
    minlength="3"
    maxlength="50"
  />

  <label>Correct Answer</label>
  <input
    type="text"
    name="correct_answer"
    placeholder="Write a Answer"
    maxlength="20"
  />

  <label>Incorrect Answer1</label>
  <input
    type="text"
    name="incorrect_answers_0"
    placeholder="Write IncorrectAnswer1"
    maxlength="20"
  />

  <label>Incorrect Answer2</label>
  <input
    type="text"
    name="incorrect_answers_1"
    placeholder="Write IncorrectAnswer2"
    maxlength="20"
  />

  <label for="category">Category:</label>
  <select name="category" id="category">
    <option value="JAVASCRIPT">JAVASCRIPT</option>
    <option value="CSS">CSS</option>
    <option value="HTML">HTML</option>
  </select>

  <label for="difficulty">Difficulty:</label>
  <select name="difficulty" id="difficulty">
    <option value="BASIC">BASIC</option>
    <option value="MEDIUM">MEDIUM</option>
    <option value="ADVANCE">ADVANCE</option>
  </select>

  <label><input type="checkbox" name="isVisible" value="true" />Visible</label>

  <label>Image</label>
  <input
    type="text"
    name="question_img"
    placeholder="A image is needed"
    value="/images/questions/default.jpg"
    maxlength="80"
  />

  {{#if error}}
    <p style="color: red;">{{error}}</p>
  {{/if}}

  <button type="submit">Create new Question</button>

</form>

<a class="homelink" href="/">Back Home Page</a>